<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class ="f-s-20 min-w-200">Type of chart:</span>
        <mat-nav-list class="list-horizontal">
            <a mat-list-item routerLink="/pie-chart" routerLinkActive = "active-link" class ="f-s-20">Pie chart</a>
            <a mat-list-item routerLink="/line-chart" routerLinkActive = "active-link" class ="f-s-20">Line chart</a>
        </mat-nav-list>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="min-w-200">Dimension:</span>
        <mat-select [(value)]='dimensionSelectedKey'
            (selectionChange)="handleDimensionSelect($event)"
            class="dimension-list"
            placeholder="Select dimension">
            <mat-option [value]="chartDimension"
                *ngFor="let chartDimension of chartDimensionsArray">
                {{chartDimension}}
            </mat-option>            
        </mat-select>       
    </mat-toolbar-row>
    <mat-toolbar-row class="filter-block">
        <div *ngIf="(filterValue$ | async) as filter" class="filter-wrapper">
            <h3>Filter:</h3>
            <div>
                <span class="min-w-200">Categories:</span>
                <span class="m-l-10">{{ filter.categories.join(', ') || 'All' }}</span>
            </div>
            <div>
                <span class="min-w-200">Date period:</span>
                <span class="m-l-10" *ngIf="filter.startDate; else dateAllBlock">
                    {{filter.startDate}} week - {{filter.endDate}} week
                </span>
                <ng-template #dateAllBlock>
                    <span class="m-l-10">All</span>
                </ng-template>
            </div>
            <button mat-raised-button color="accent" (click)="onResetFilter()" [disabled] = "filter.categories.length === 0 && !filter.startDate">Reset all</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
  