.mat-nav-list {
    .active-link {
        background: blue;
    }
}

mat-nav-list.list-horizontal {
    padding: 0;
    margin-left: 50px;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }

.active-link {
    color: red;
}

.f-s-20 {
    font-size: 20px;
}

.min-w-200{
    min-width: 200px;
}

.m-l-10{
    margin-left: 10px;
}

.dimension-list{
    margin-left: 60px;
    max-width: 120px;
}

.filter-wrapper{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    width: 100%;
    border: 2px dotted blue;
    padding: 10px;
    margin-bottom: 20px;
}